body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

form{
    width: 100%;
}

legend{
    text-align: center;
}

.back{
    margin-top: 5px;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}